<body onload="">
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
    <header>
        <span id="seta" class="material-symbols-outlined" onclick="voltar">
            arrow_back
        </span>

        <h1>Configurar perfil</h1>
    </header>


    <main>
        <input type="text" placeholder="Nome">
        <input type="text" placeholder="Bio">
        <input type="text" placeholder="Localização">
        <select class="form-select" aria-label="Default select example">
            <option selected>Pronomes</option> 
            <option value="1">Ela/Dela</option>
            <option value="2">Elu/Delu</option>
            <option id="pronome" class="pronome" value="3">Ele/Dele</option>
        </select>

        <button id="next" onclick=""><a href="/foto">Próximo</a></button>
    </main>



    <!-- js -->
    <script src="/js/configuracaodeperfil/index.js"></script>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>