<style>
    #mapid {
      margin: auto;
      margin-top: 30px;
      height: 450px;
      border-radius: 20px;
      width: 80%;
    }
  </style>
<body>
  <img class="img-logo" src="/img/PaginaInicial/logo.svg" alt="">
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <div class="container">
    <button class="mobile-menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </button>
    <div class="header">

      <ul id="menu" class="ul-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="#sobre">Sobre nós</a></li>
        <li><a href="/central">Central de ajuda</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    <div class="sunflowers">
      <h1>Sunflowers</h1>
    </div>

    <!-- sobre nós -->

    <div class="sobrenos">
      <div id="sobre" class="textosnos">
        <h1>Sobre Nós</h1>
        <p>
          Somos apaixonados por tecnologia e inovação, e é com grande entusiasmo que compartilhamos com você nosso
          trabalho de conclusão de curso. Nossa jornada acadêmica nos levou a explorar profundamente o vasto mundo da
          programação, e este site é o resultado de meses de pesquisa, experimentação e dedicação.
        </p>
      </div>
      <div class="imgsobrenos">

        <img src="/img/PaginaInicial/image 15.svg" alt="" />
      </div>
    </div>

    <div class="gps">
      <div class="textgps">
        <h1>Encontre lugares acessivéis em Riberão Pires</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt vero
          suscipit iste quos eligendi maxime blanditiis soluta perferendis
          nemo, magni atque voluptatum molestias necessitatibus ipsam facilis.
          Ad corporis dolorum quasi. <a href="/mapa">CLIQUE AQUI</a>
        </p>
      </div>
      <div id="mapid"></div>
    </div>

    <footer>

      <div class="logo">
        <img class="logoimg" src="/img/PaginaInicial/Logo.svg">
      </div>

      <div class="menu">
        <h1>sunflowers</h1>
        <a href="">Inicio</a>
        <a href="">Sobre nós</a>
        <a href="">Central de ajuda</a>
      </div>

      <div class="contact">
        <h1>Contato</h1>
        <div class="redessociais">
          <img src="/img/PaginaInicial/gmail.png" alt="">
          <img src="/img/PaginaInicial/instagram_share_story_connection_communication_icon_189222.png" alt="">
        </div>
      </div>
    </footer>

  </div>

  <!-- js -->
  <script src="/js/PaginaInicial/script.js"></script>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

</body>