@import url('../colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--color3);
    min-width: 100vw;
    min-height: 100%;
    overflow: hidden;
}

header {
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    height: 50px;
    justify-items: center;
    border-bottom: 3px var(--color1) solid;
   



}

header h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Lilita One', cursive;
}

header #seta {
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 2px;
}

/* main */
main {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.imagemdeperfil{
margin: auto;
margin-top: 130px;
display: flex;
flex-direction: column;
}

.fotodeperfil{
    width: 200px;
    height: 200px;
}

.cam{
    cursor: pointer;
    margin-top: -140px;
}



main #next {
    text-align: center;
    justify-items: center;
    margin: auto;
    border: 2px  #606163 solid ;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #606163;
    background: #384FA0;
    width: 200px;
    height: 44px;
    flex-shrink: 0;
    color: var(--color4);
    font-family: Lilita One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-top: 100px;
}

main #next:hover {
    color: var(--color1)f;
    transition-duration: 0.5s;
    border: 2px var(--color1) solid;
    opacity: 0.7;
}