@import url('../colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--color3);
    min-width: 100vw;
    min-height: 100%;
    overflow: hidden;
}

header {
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    height: 50px;
    justify-items: center;
    border-bottom: 3px var(--color1) solid;



}

header h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Lilita One', cursive;
}

header #seta {
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 2px;
}

/* main */

main {
    max-width: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}


main input  {
    border-radius: 10px;
    border: 1px solid #606163;
    background: transparent;
    width: 675px;
    padding: 10px;
    height: 96px;
    flex-shrink: 0;
    color: var(--color1);
    margin-bottom: 30px;
    
}


main #next{
    text-align: center;
    justify-items: center;
    margin: auto;
    border: 2px  #606163 solid ;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #606163;
    background: #384FA0;
    width: 291px;
    height: 64px;
    flex-shrink: 0;
    color: var(--color4);
    font-family: Lilita One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
main #next a{
    text-align: center;
    justify-items: center;
    margin: auto;
   

    margin-bottom: 10px;
  
   
    width: 291px;
    height: 64px;
    flex-shrink: 0;
    color: var(--color4);
    font-family: Lilita One;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

main #next:hover{
    color: var(--color1);
    border: 2px var(--color1) solid;
    opacity: 0.7;
    transition-duration: 0.5s;
}


main #next a:hover{
    color: var(--color1);
 
    opacity: 0.7;
    transition-duration: 0.5s;
}


Main .form-select{

background: transparent;
color: #606163;
font-family: Lilita One;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 200px;
height: 58px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #606163;
}

/* res*/

@media screen and (max-width: 746px){
    main #next:hover {
        color: var(--color1);
        transition-duration: 0.5s;
    } 
    main input  {
        border-radius: 10px;
        border: 1px solid #606163;
        background: transparent;
        width: calc(100% - 20px);
        flex-shrink: 0;
        color: var(--color1);
        margin-bottom: 30px;
        
    }


}

@media screen and (max-width: 737px){
    main #next {
        text-align: center;
        justify-items: center;
        margin: auto;
        border: 2px  #606163 solid ;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid #606163;
        background: #384FA0;
        width: 281px;
        height: 64px;
        flex-shrink: 0;
        color: var(--color4);
        font-family: Lilita One;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    main #next:hover {
        color: var(--color1);
        transition-duration: 0.5s;
    }
}

@media screen and (max-width: 725px){
    main #next {
        text-align: center;
        justify-items: center;
        margin: auto;
        border: 2px  #606163 solid ;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid #606163;
        background: #384FA0;
        width: 181px;
        height: 64px;
        flex-shrink: 0;
        color: var(--color4);
        font-family: Lilita One;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    main #next:hover {
        color: var(--color1);
        transition-duration: 0.5s;
    }
}


@media screen and (max-width: 687px){
    main input  {
        border-radius: 10px;
        border: 1px solid #606163;
        background: transparent;
        flex-shrink: 0;
        color: var(--color1);
        margin-bottom: 30px;
        
    }
}

@media screen and (max-width: 672px){
    main input  {
        border-radius: 10px;
        border: 1px solid #606163;
        background: transparent;
        flex-shrink: 0;
        color: var(--color1);
        margin-bottom: 30px;
        
    }
}

@media screen and (max-width: 631px){
    main #next {
        text-align: center;
        justify-items: center;
        margin: auto;
        border: 2px  #606163 solid ;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid #606163;
        background: #384FA0;
        width: 141px;
        height: 64px;
        flex-shrink: 0;
        color: var(--color4);
        font-family: Lilita One;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    main #next:hover {
        color: var(--color1);
        transition-duration: 0.5s;
    }
}

@media screen and (max-width: 577px){
    main #next {
        text-align: center;
        justify-items: center;
        margin: auto;
        border: 2px  #606163 solid ;
        border-radius: 10px;
        margin-bottom: 10px;
        border: 1px solid #606163;
        background: #384FA0;
        width: 121px;
        height: 64px;
        flex-shrink: 0;
        color: var(--color4);
        font-family: Lilita One;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    main #next:hover {
        color: var(--color1);
        transition-duration: 0.5s;
    }
}

@media screen and (max-width: 571px){
 #pronome{
    width: 90px;
 }
}

@media screen and (max-width: 557px){
.pronome{
    margin-bottom: 90px;
    width: 40px;
}
   }